@model ARTF_ASISTENCIA_v2.Models.Asistencium

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Asistencium</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DiaReg" class="control-label"></label>
                <input asp-for="DiaReg" class="form-control" />
                <span asp-validation-for="DiaReg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HrfhIng" class="control-label"></label>
                <input asp-for="HrfhIng" class="form-control" />
                <span asp-validation-for="HrfhIng" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HrfhSal" class="control-label"></label>
                <input asp-for="HrfhSal" class="form-control" />
                <span asp-validation-for="HrfhSal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observaciones" class="control-label"></label>
                <input asp-for="Observaciones" class="form-control" />
                <span asp-validation-for="Observaciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Justificaciones" class="control-label"></label>
                <input asp-for="Justificaciones" class="form-control" />
                <span asp-validation-for="Justificaciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numemp" class="control-label"></label>
                <input asp-for="Numemp" class="form-control" />
                <span asp-validation-for="Numemp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
